.container {
  aspect-ratio: 1;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  border: 1px solid black;
  font-size: 2rem;
  font-family: var(--font-special);
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover::after {
  content: attr(data-text);
  position: absolute;
  min-width: 3rem;
  white-space: nowrap;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid black;
  background-color: white;
  font-family: var(--font-main);
  font-weight: normal;
  font-size: 2rem;
  top: calc(100% + 2rem);
  z-index: 2;
}

/* Mobile Sizing */
@media (max-width: 480px) {
  .container:hover::after {
    max-width: 100vw;
  }
}
