.inputlabel {
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}

.labelspread {
  display: flex;
  flex-direction: row;
  gap: 0px 1rem;
}

.inputcontrol {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  padding: 16px 16px;
  border-radius: 16px;
  background-color: white;
  border: 0px;
  height: 7rem;
  width: 100%;
}

.inputerror {
  font-size: 16px;
  color: #dd1616;
}
