.container {
  background-image: url("/images/forgotpassword_backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding-top: 10%;
  width: 100%;
}
