.banner_image {
  aspect-ratio: 3 / 1;
  background-color: var(--color-gray);
  bottom: 0px;
  left: 0px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
}

.banner_container {
  aspect-ratio: 3 / 1;
  max-height: 300px;
  position: relative;
  width: 100%;
}

.change_image {
  bottom: 15px;
  position: absolute;
  right: 15px;
}
