.st0 {
  fill: #ffdaa9;
}
.st1 {
  fill: #00233a;
}
.st2 {
  fill: #ff6550;
}
.st3 {
  opacity: 0.4;
  fill: #ff7364;
}
.st4 {
  fill: none;
  stroke: #00233a;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #e97e1c;
}
.st6 {
  opacity: 0.74;
  fill: #e8531f;
}
.st7 {
  fill: #ffb845;
}
.st8 {
  opacity: 0.53;
  fill: #d89535;
}
.st9 {
  opacity: 0.6;
  fill: #ef8c3a;
}
.st10 {
  fill: #ffd766;
}
.st11 {
  opacity: 0.38;
  fill: #ffb845;
}
.st12 {
  fill: #ff9f48;
}
.st13 {
  fill: #ef8c3a;
}
.st14 {
  fill: #81440e;
}
.st15 {
  fill: #663717;
}
.st16 {
  fill: #a05720;
}
.st17 {
  fill: #ef4d3c;
}
.st18 {
  opacity: 0.91;
  fill: #ff6550;
}
.st19 {
  opacity: 0.6;
  fill: #e8531f;
}
