.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal {
  background-color: #f1f0f2;
  border-radius: 2rem;
  width: 600px;
  padding: 4rem 3rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem 0px;
}

#qr-container {
  border-radius: 2rem;
}

h1,
h2,
h3 {
  font-family: var(--font-main);
  margin: 0px;
  font-weight: normal;
}

.title {
  font-size: 6rem;
  font-weight: bold;
}

/* Mobile Sizing */
@media (max-width: 480px) {
  .title {
    font-size: 4rem;
  }
}
