.container {
  width: 500px;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0px;
  box-shadow: var(--shadow);
  background-color: white;
  border-radius: 2rem;
  text-decoration: none;
}

.container h1,
.container h2 {
  text-decoration: none;
}

.tagbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.tag {
  padding: 1rem 2rem;
  border: 2px solid rgb(245, 245, 245);
  background-color: rgb(250, 250, 250);
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.cardtitle {
  grid-area: title;
  font-family: var(--font-main);
  font-size: 4rem;
  text-decoration: none;
  color: black;
}

.cardsubtitle {
  grid-area: subtitle;
  font-family: var(--font-main);
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
