.container {
  display: grid;
  grid-template-columns: 50px 1fr 0.2fr;
  grid-template-rows: min-content;
  grid-template-areas: "place title votes";
  align-items: center;
  gap: 0px 2rem;
}

.trophy {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: place;
  width: 50px;
  height: 50px;
}

.trophy svg {
  width: 40px;
  height: 40px;
}

.firstPlace {
  fill: gold;
}

.secondPlace {
  fill: silver;
}

.thirdPlace {
  fill: orange;
}

.name,
.count {
  font-size: 3rem;
  font-family: var(--font-main);
}

.name {
  font-weight: bold;
  grid-area: title;
}

.count {
  grid-area: votes;
  font-variant-numeric: tabular-nums;
}
