.container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  align-items: center;
  justify-content: center;
  background-image: url("/ai-autumn-wreath.png");
  background-position: center;
  background-repeat: no-repeat;
}

.notfoundtext {
  font-family: "Italiana", serif;
  font-size: 150px;
  user-select: none;
  margin: 0px;
  margin-top: -50px;
}

.subtext {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  user-select: none;
  margin: 0px;
  font-style: italic;
}
