.form_container {
  display: grid;
  grid-template:
    "label label expiry" min-content
    "desc desc desc" min-content
    "options multi ." min-content
    "button button button" min-content / 1fr 1fr 1fr;
  gap: var(--spacing-medium);
  padding: var(--spacing-large) var(--spacing-medium);
}

.form_label {
  grid-area: label;
}

.form_desc {
  grid-area: desc;
}

.form_expiry {
  grid-area: expiry;
}

.form_add {
  grid-area: options;
}

.form_multi {
  grid-area: multi;
}

.form_button {
  grid-area: button;
  justify-self: flex-end;
}
