/* The actual input element */
.inputcontrol {
  position: absolute;
  opacity: 0;
  bottom: 0px;
  width: 100%;
  height: calc(var(--diameter) + var(--offset) * 2);
}

.labelspread {
  display: flex;
  flex-direction: row;
  gap: 0px 1rem;
}

/* The containing label element */
.inputlabel {
  --offset: 0.25em;
  --diameter: 1.8em;
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}

/* The span representing the visual toggle */
.toggle_display {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  position: relative;
  border-radius: 100vw;
  background-color: #d4d4d4;
  transition: 250ms;
}

/* The circle knob of the toggle */
.toggle_display::before {
  content: "";
  position: absolute;
  left: var(--offset);
  box-sizing: border-box;
  width: var(--diameter);
  height: var(--diameter);
  border-radius: var(--diameter);
  background-color: white;
  will-change: transform;
  transition: inherit;
}

/* Grabbing focus from the label & input and displaying it on the toggle */
.inputlabel:focus .toggle_display,
.inputcontrol:focus + .toggle_display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

/* Removing focus from the other elements */
.inputlabel:focus,
.inputlabel:focus:not(:focus-visible) .toggle_display,
.inputcontrol:focus:not(:focus-visible) + .toggle_display {
  outline: 0;
}

/* When pressed, do the growy thing */
.inputlabel:active .toggle_display::before,
.inputcontrol:active + .toggle_display::before {
  width: calc(var(--diameter) * 1.5);
}

/* When label is pressed, or control is checked, change toggle orange */
.inputlabel[aria-pressed="true"] .toggle_display,
.inputcontrol:checked + .toggle_display {
  background-color: var(--color-orange);
}

/* When label is pressed, or control is checked, move the knob */
.inputlabel[aria-pressed="true"] .toggle_display::before,
.inputcontrol:checked + .toggle_display::before {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/* When elements are disabled, show a disabled state */
.inputlabel[disabled] .toggle_display,
.inputcontrol:disabled + .toggle_display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

/* Mobile Sizing */
@media (max-width: 480px) {
  .inputlabel {
    font-size: 2.5rem;
  }
}
